body {
  background-color: #636363;
}

svg {
  width: 100vw;
  height: 100vh;
}

.EU {
  fill: violet;
}

.NA {
  fill: violet;
}

#world-map {
  width: 100%;
  height: auto;
  transition: transform 0.5s ease-in-out;
  
}

path {
  fill: #808080;
  stroke: #ffff;
  transition: 100ms;
}

.EU:hover {
  fill: #c99aff;
}

.NA:hover {
  fill: #c99aff;
}